<!DOCTYPE html>
<html>
<head>
    <title>4D Cubes</title>
    <style>
        body { 
            margin: 0; 
            overflow: hidden; 
            font-family: Arial, sans-serif;
        }
        canvas { 
            display: block; 
        }
        #header {
            position: absolute;
            top: 10px;
            left: 0;
            right: 0;
            text-align: center;
            color: white;
            z-index: 100;
            pointer-events: none;
        }
    </style>
</head>
<body>
    <div id="header">
        <h1 id="cube-title">Кисе!</h1>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/three@0.132.2/build/three.min.js"></script>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="/static/script.js"></script>
</body>
</html>
